<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img class="img-logo" src="/img/pergunta-logo.png" alt="Logo">
    </a>
    <a class="btn btn-warning btn-perguntar" href="/perguntar">Fazer Pergunta</a>
</nav>